<%= render :partial => 'admin/shared/configuration_menu' %>
 
<h1>
	<%=t("suppliers") %>
</h1>
<table class="admin-report" width="545">
	<thead>
		<tr>
			<th>
				<%=t("supplier_name")%>
			</th>
			<th>
				<%=t("email")%>
			</th>
			<th>
				<%=t("phone")%>
			</th>
			<th>
				<%=t("action")%>
			</th>
		</tr>
	</thead>
	<tbody>
		<% @suppliers.each do |supplier| %>
		<tr class="<%= cycle('even', 'odd') %>">
			<td>
				<%= supplier.name %>
			</td>
			<td>
				<%= supplier.email %>
			</td>
			<td>
				<%= supplier.phone %>
			</td>
			<td>
				<%=link_to t("edit"), edit_object_url(supplier) %> | <%=link_to t("delete"), object_url(supplier), :method => :delete %>
			</td>
		</tr><% end %>
	</tbody>
</table>

 
<%= link_to t("new_supplier"), new_object_url %>