<%= render :partial => 'admin/shared/configuration_menu' %>
 
<h1><%= t("new_supplier") %></h1>
 
<%= error_messages_for :supplier %>
 
<% form_for(:supplier, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= submit_tag t("create")%> or <%= link_to t("cancel"), admin_suppliers_path%>
  </p>
<% end %>